{% extends "registration/registration_base.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block extrahead %}
	{% if request.user.is_authenticated %}<meta http-equiv="REFRESH" content="0;url=/">{% endif %}
{% endblock %}

{% block content %}

<div class="span5 login">

	{% if form.errors %}
	<div class="alert alert-error">
		Usuário e/ou senha incorretos.
	</div>
	{% endif %}

    <div class="block">
        <form class="form-horizontal" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="inputEmail">{{ form.username.label_tag }}</label>
                <div class="controls">
                    {{ form.username }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Senha</label>
                <div class="controls">
                    {{ form.password }}
                </div>
            </div>
            <div class="control-group">
                <div class="control-group button">
                    <button type="submit" class="btn btn-large btn-primary">Entrar</button>
                </div>
                <ul class="">
                    <li><a href="{% url auth_password_reset %}" title="">Esqueci minha senha</a></li>
                    <li><a href="{% url registration_register %}" title="">Não sou registrado</a></li>
                </ul>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}
