@import url(http://fonts.googleapis.com/css?family=Lobster);

h1, h2, h3 {
    font-family: 'Lobster', cursive; 
    letter-spacing: 1px;   
}
h1 small, h2 small, h3 small, h4 small {
    margin: 0 5px;
    letter-spacing: 0;   
}
img {
    border: 3px solid #eee;    
}
.clear {
    clear:both;
}
.hide {
    display: none;
}

.alert-box {
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 10px 0;
    height: 20px;
    opacity: .9;
}
.alert-box .fechar {
    float:right;
    margin: 0 30px;
    color: #999;
}

.navbar h1 {
    font-size: inherit;
    line-height: inherit;
}
.navbar h1 a.brand {
    font-weight: bold;
}
.logo {
    text-align: center;
    margin: 50px 0;
}
.login {
    margin: 40px auto;
    float: inherit;
}
.login .button {
    margin: 20px 0 0 0;
    text-align: center;
}
.login .buttons button {
    margin: 0 5px;
}
.login ul {
    margin: 10px 0 0 0;
    text-align: center;
}
.login ul li{
    display: inline;
    margin: 0;
    padding: 0;
}
.login ul li a {   
    margin: 0;
    padding: 0 5px;
}
.login ul li:first-child {
    border-right: 1px solid #333;
    padding-right: 5px;
}

.register .text input {
    margin: 5px 0;
    width: 95%;
}

.propaganda {
    margin: 30px auto 50px auto;
    width: 728px;
    font-size: 7pt;
}
.content {
    margin-top: 30px;
}
.content .fotoPerfil {
    text-align: center;
}
.content .fotoPerfil a {
    margin: 5px 0 0 0;
}
.content .fotoPerfil img {
    border: 10px solid #eee;
    border-radius: 5px;
}

.content .block {
    width: 100%;
    padding: 20px;
    background: #F7F7FF;
    display: table;
    margin: 20px 0;
    box-shadow: 1px 1px 7px #dedede;
    border-radius: 4px;
}
.content .block:hover {
    background: #F0F0FF;
    -webkit-transition: background 300ms ;
    -moz-transition: background 300ms ;
    -ms-transition: background 300ms ;
    -o-transition: background 300ms ;
    transition: background 300ms ;
}
.content .block .actions {
    float: right;
}
.content .block h3 {
    margin-top: 0;
    cursor: pointer;
}
.content .block .item h4 {
    margin-bottom: 0px;
}
.content .block .item img {
    float: left;
    margin: 0 10px 0 0;
}
.content .block .item a {
    color: #333;
}
.content .friends {
    margin: 20px 0 0 0;
}
.content .friends .friend {
    float: left;
    width: 270px;
}
.content .atividades .atividade {
    margin: 7px 0;
    padding-left: 5px;
}
.content .projetos .item {
    margin: 5px 0;    
    float: inherit;
}
.content .publique textarea {    
    width:98%;
    height: 70px;
}
.content .publique button {
    float: right;
}
.content .buttons a {
    width: 90%;
    margin: 5px 0;
}

.content .about {
    font-size: 10pt;
}
.content .ultimas-publicacoes .item {
    margin: 10px 0;
    padding: 10px 10px 40px 10px;
    border-bottom: 1px solid #ddd;
}
.content .ultimas-publicacoes .item:hover {
    background: #eee;
}
.content .fotos .item img {
    margin: 5px;
}

.content .block .buttons {
    float: right;
    margin: 0 10px -10px 0;
}
.content .evolucao .buttons a {
    margin: 12px;
    width: inherit;
}
.content .treino .item {
    margin: 10px 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.content .query input {
    padding: 10px 5px;
    width: 100%;
}
.content .query .btn {
    float: right;
    margin: 5px -12px 0 0;
}
.content .result .item {
    margin: 15px 10px;
    /*border-bottom: 1px solid #ddd;   */
}

.form-project div {
    margin-top: 10px;
}

.form-project input, .form-project textarea, .form-project select {
    width: 100%;
}
.form-project .span12 input {
    font-size: 150%;
    padding: 15px 0 15px 10px;
}

.content .friends .item img {
    margin: 10px 10px 0 0;
}

.photo {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.photo .desc {
    margin: 10px 0 0 0;
}
.photo .desc .actions {
    margin: 10px 0 0 0;
}

.content form .buttons {
    float: inherit !important;
    margin: 10px 0 !important;
}


.footer {
    padding: 20px 10px;    

    background: #c9c9c9;
    text-align: center;
}