{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="block">
        <form class="form form-project" name="project" method="POST" action="{% url project.views.new %}">
            {% csrf_token %}
            <fieldset>
                
                <legend><h3>Novo Projeto</h3></legend>
                
                <div class="row">
                    {% for field in form %}
                        {% if field.label %}
                            <div class="control-group
                                {% if field.name == "objective" %}span12{% else %}span4{% endif %}
                                {% if field.errors %}error{% endif %}
                            ">
                                {{ field.label_tag }} 
                                <span class="help-inline">{{ field.errors }}</span>
                                {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Criar</button>
                  <button type="button" class="btn">Cancelar</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}