{% extends "base.html" %}

{% block extrahead %}
<style>
    .treino h4, .treino h5 {
        cursor: pointer;
    }
</style>
<script>
    $(function(){
        $(".treino .muscle_group .blockContent").hide();
        $(".treino h4, .treino h5").click(function(){
            $(this).next('.blockContent').slideToggle();
        });

        // $("#comment").modal();
    });
</script>
{% endblock %}

{% block content %}
<!-- conteudo -->
<div class="container content profile">            
    <div class="row">
        {% include "project/topbar.html" %}
    </div>

    <div class="row">
        <div class="span12">
            <div class="block treino">
                <h3>Treino</h3>
                <div class="blockContent">
                    <ul>
                        {% for train in trainings %}
                            <li class="muscle_group">
                                <h4>Treino {{ train.day }}</h4>
                                <div class="blockContent">
                                    <ul>
                                        {% for exercise in exercises %}
                                            {% if exercise.day == train %}
                                                <li>
                                                    <b>{{ exercise }}:</b> 
                                                    {{ exercise.serie }} séries /
                                                    {{ exercise.repetition }} repetições
                                                </li>
                                            {% endif %}
                                            
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- block evolucao -->
        <div class="span4">
            <div class="block evolucao">
                <h3>Evolução</h3>
                <div class="blockContent">
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="http://placehold.it/94x94"></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="buttons"><a href="#" class="btn btn-small">ver mais</a></a></div>
            </div>
        </div>
        <!-- fim block evolucao -->

        <!-- block treino -->
        <div class="span4">
            <div class="block treino">
                <h3>Alimentação</h3>
                <div class="blockContent">
                    <div class="item">
                        <h4>1ª Refeição</h4>
                        <ul>
                            <li>Pão</li>
                            <li>Leite</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h4>2ª Refeição</h4>
                        <ul>
                            <li>Pão</li>
                            <li>Leite</li>
                        </ul>
                    </div><div class="item">
                        <h4>3ª Refeição</h4>
                        <ul>
                            <li>Pão</li>
                            <li>Leite</li>
                        </ul>
                    </div>
                </div>
                <div class="buttons"><a href="#" class="btn btn-small">ver mais</a></a></div>
            </div>
        </div>
        <!-- fim block treino -->

        <!-- block suplementação -->
        <div class="span4">
            <div class="block treino">
                <h3>Suplementação</h3>
                <div class="blockContent">
                    <div class="item">
                        <h4>Whey Protein</h4>
                        <p>
                            <small><b>Fabricante:</b> X-Lab</small>
                        </p>
                    </div>
                    <div class="item">
                        <h4>Creatina</h4>
                        <p>
                            <small><b>Fabricante:</b> Probiótica</small>
                        </p>
                    </div>                            
                </div>
            </div>
        </div>
        <!-- fim block suplementação -->
    </div>            
</div>
<!-- fim coutendo -->
{% endblock %}