{% extends "base.html" %}

{% block content %}


    <div class="row">
	   {% include "account/avatar.html" %}
        <div class="span9">
            <h2>Bem vindo, {% if request.user.first_name %}{{ request.user.get_full_name }}{% else %}{{ request.user }}{% endif %}</h2>

            <!-- block friends -->
            <div class="block friends">
                <h3>Solicitações de amizade</h3>
                <div class="blockContent">
                    {% if friend_pending %}
                        {% for friend in friend_pending %}
                            <div class="item friend">
                                <img src="{{ friend.from_user.get_profile.get_mini_avatar }}" />
                                <p><b>{{ friend.from_user.get_profile.get_name }}</b> <small>quer ser seu amigo</small></p>
                                <a href="{% url friendship_accept friend.from_user %}" class="btn btn-small"><i class="icon-ok"></i></a>
                                <a href="{% url friendship_decline friend.from_user %}" class="btn btn-small"><i class="icon-remove"></i></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <i>(não há solicitações de amizade)</i>
                    {% endif %}
                </div>
            </div>
            <!-- fim block friends -->
        </div>
    </div>
    
    <div class="row">
        <!-- block atividades -->
        <div class="span6">
            <div class="block atividades">
                <h3>Atividades de amigos</h3>
                <div class="blockContent">
                    <div class="item atividade">
                        <a href="#">
                            <i class="icon-heart"></i>
                            <b>Neymar</b> 
                            <small>começou uma nova amizade com Carla</small>.
                        </a>
                    </div>
                    <div class="item atividade">
                        <a href="#">
                            <i class="icon-flag"></i>
                            <b>Schneider</b> 
                            <small>iniciou um novo projeto</small>.
                        </a>
                    </div>
                    <div class="item atividade">
                        <a href="#">
                            <i class="icon-comment"></i>
                            <b>Carla</b> 
                            <small>fez um comentário no projeto de Neymar</small>.
                        </a>
                    </div>
                    <div class="item atividade">
                        <a href="#">
                            <i class="icon-wrench"></i>
                            <b>Schneider</b> 
                            <small>alterou seu perfil</small>.
                        </a>
                    </div>
                </div>
                <div class="buttons"><a href="#" class="btn btn-small">ver mais</a></a></div>
            </div>
        </div>
        <!-- fim block atividades -->

        <!-- block projetos -->
        <div class="span6">
            <div class="block projetos">
                <h3>Seus Projetos</h3>
                <div class="blockContent">
                    {% if projects %}
                        <ul>
                            {% for project in projects %}
                                <li class="item"><a href="{{ project.permalink }}">{{ project.objective|capfirst }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i>(não há projetos em aberto. Clique <a href="{% url project.views.list user 'all' %}">aqui</a> para ver todos.)</i>
                    {% endif %}
                </div>
                <div class="buttons"><a href="{% url project.views.list request.user %}" class="btn btn-small">ver mais</a></a></div>
            </div>
        </div>
        <!-- fim bloco projetos -->
    </div>

    <!-- propaganda -->
    <!-- <div class="propaganda">
        <span>publicidade</span><br>
        <img src="http://images.4chon.net/edu/src/1342729815796.png">
    </div> -->

    <div class="row">
        <!-- bloco publique -->
        <div class="span8">
            <div class="block publique">
                <form name="" method="post" action="{% url wall.views.new request.user.id %}">{% csrf_token %}
                    <label for="message">
                        <h3>Publique no seu mural</h3>
                    </label>
                    <div class="control-group">
                        {{ forms.wall.message }}
                    </div>
                    <button type="submit" class="btn btn-large btn-primary"><i class="icon-comment icon-white"></i> Publicar</button>
                </form>
            </div>
        </div>
        <!-- fim do bloco publique -->

        <!-- bloco buttons -->
        <div class="span4">
            <div class="block buttons">
                <h3></h3>

                <a href="{% url project.views.new %}" class="btn btn-large">Crie um novo projeto</a><br>
                <a href="#" class="btn btn-large">Procure amigos</a><br>
                <a href="{% url account.views.edit_profile %}" class="btn btn-large">Edite seu perfil</a><br>
            </div>
        </div>
        <!-- fim do bloco buttons -->
    </div>

{% endblock %}