{% extends "base.html" %}

{% block content %}

{% include "account/topbar.html" %}
<div class="row">
    <!-- block form -->
    <div class="span12">
        <div class="block">
            <h3>Editar Informações Pessoais</h3>
            <div class="blockContent">
                <form name="personal-info" method="POST" class="form personal-info">{% csrf_token %}

                    <div class="left">
                    {% for field in form %}
                        {% if field.name == "bio" %}</div><div class="right">{% endif %}
                        <div class="{{ field.name }}">
                            {{ field.label_tag }}{{ field }}
                        </div>
                    {% endfor %}
                </div>

                    <div class="buttons">
                        <button type="submit" class="btn"><b>Atualizar</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}