{% extends "base.html" %}

{% block extrahead %}
<script>
function get_more_wall() {

    block = $(".ultimas-publicacoes .blockContent");
    items = $(".ultimas-publicacoes .blockContent .item").length;
    url = "{% url wall.views.more user.id 0 %}".replace('/0', "/" + items);
    $.get(url, function(data) {
        if(data != -1) {
            block.append(data);
        } else {
            alert("Não existem mais posts");
        }
    });
}
</script>
{% endblock %}

{% block content %}

{% include "account/topbar.html" %}
<div class="row">
    <!-- block atividades -->
    <div class="span4">
        <div class="block projetos">
            <h3>Projetos</h3>
            <div class="blockContent ultimas-publicacoes">
                {% if projects %}
                    {% for project in projects %}
                        <div class="item">
                            <a href="#">
                                <b>{{ project.objective|capfirst }}</b> <br>
                                <small>
                                    Início em {{ project.init }}<br>
                                    Duração: {{ project.duration }} meses.
                                </small>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <i>(não há projetos em aberto. Clique <a href="{% url project.views.list user 'all' %}">aqui</a> para ver todos.)</i>
                {% endif %}
                <div class="clear"></div>
            </div>
            {% if projects %}
                <div class="buttons"><a href="{% url project.views.list user %}" class="btn btn-small">ver mais</a></a></div>
            {% endif %}
        </div>

        <div class="block fotos">
            <h3>Últimas fotos</h3>
            <div class="blockContent">
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="buttons"><a href="#" class="btn btn-small">ver mais</a></a></div>
        </div>

        <!-- block amigos -->
        <div class="block fotos">
            <h3>
                Amigos
                <small><a href="#">ver todos</a>
            </h3>
            <div class="blockContent">
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="http://placehold.it/94x94"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="buttons"><a href="#" class="btn btn-small">ver mais</a></a></div>
        </div>
    </div>
    <!-- fim block atividades -->

    <!-- block ultimas publicacoes -->
    <div class="span8">
        <div class="block ultimas-publicacoes">
            <h3>Últimas publicações</h3>
            <div class="blockContent">
                {% include "wall/block-wall.html" %}
            </div>
            <div class="buttons"><a href="javascript:get_more_wall();" class="btn btn-small">ver mais</a></a></div>
        </div>
    </div>
    <!-- fim bloco projetos -->
</div>
{% endblock %}