@import url(http://fonts.googleapis.com/css?family=Lobster);

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive; 
    letter-spacing: 1px;   
}
h1 small, h2 small, h3 small, h4 small {
    margin: 0 5px;
    letter-spacing: 0;   
}
img {
    border: 3px solid #eee;    
}
.clear {
    clear:both;
}
.navbar h1 {
    font-size: inherit;
    line-height: inherit;
}
.navbar h1 a.brand {
    font-weight: bold;
}
.logo {
    text-align: center;
    margin: 50px 0;
}
.login {
    margin: 40px auto;
    float: inherit;
}
.login .buttons {
    margin: 20px 0 0 0;
    text-align: center;
}
.login .buttons button {
    margin: 0 5px;
}
.login ul {
    margin: 10px 0 0 0;
    text-align: center;
}
.login ul li{
    display: inline;
    margin: 0;
    padding: 0;
}
.login ul li a {   
    margin: 0;
    padding: 0 5px;
}
.login ul li:first-child {
    border-right: 1px solid #333;
    padding-right: 5px;
}

.propaganda {
    margin: 30px auto 50px auto;
    width: 728px;
    font-size: 7pt;
}
.content {
    margin-top: 30px;
}
.content .fotoPerfil {
    text-align: center;
}
.content .fotoPerfil a {
    margin: 5px 0 0 0;
}
.content .fotoPerfil img {
    border: 10px solid #eee;
    border-radius: 5px;
}

.content .block {
    width: 100%;
    padding: 20px;
    background: #F7F7FF;
    display: table;
    margin: 20px 0;
    box-shadow: 1px 1px 7px #dedede;
    border-radius: 4px;
}
.content .block h3 {
    margin-top: 0;
    cursor: pointer;
}
.content .block .item img {
    float: left;
    margin: 0 10px 0 0;
}
.content .block .item a {
    color: #333;
}
.content .friends {
    margin: 20px 0 0 0;
}
.content .friends .friend {
    float: left;
    width: 270px;
}
.content .atividades .atividade {
    margin: 7px 0;
    padding-left: 5px;
}
.content .projetos .item {
    margin: 5px 0;    
    float: inherit;
}
.content .publique textarea {    
    width:98%;
    height: 70px;
}
.content .publique button {
    float: right;
}
.content .buttons a {
    width: 90%;
    margin: 5px 0;
}

.content .about {
    font-size: 10pt;
}
.content .ultimas-publicacoes .item {
    margin: 10px 0;
    padding: 10px 10px 40px 10px;
    border-bottom: 1px solid #ddd;
}
.content .ultimas-publicacoes .item:hover {
    background: #eee;
}
.content .ultimas-publicacoes .actions {
    float: right;
}

.footer {
    padding: 20px 10px;    

    background: #c9c9c9;
    text-align: center;
}